<div class="container">
  <div class="banner">
    <div class="banner-info">
      <h1>David Lynch</h1>
      <p><em>American Filmmaker</em></p>
    </div>
  </div>
  <div class="row block">
    <div class="col-xs-12 col-lg-6 multimedia" id="eraserhead">
    </div>
    <div class="col-xs-12 col-lg-6 film-info">
      <h3 class="title">Eraserhead (1977)</h3>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quis inventore adipisci itaque sapiente nostrum iure veniam corporis doloribus dolore, illum vel error magni non fugiat quae impedit commodi eaque?</p>
    </div>
  </div>
  <div class="row block">
    <div class="col-xs-12 col-lg-6 film-info">
      <h3 class="title">The Elephant Man (1980)</h3>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quis inventore adipisci itaque sapiente nostrum iure veniam corporis doloribus dolore, illum vel error magni non fugiat quae impedit commodi eaque?</p>
    </div>
    <div class="col-xs-12 col-lg-6 multimedia" id="elephant">
    </div>
  </div>
  <div class="row block">
    <div class="col-xs-12 col-lg-6 multimedia" id="blue-velvet">
    </div>
    <div class="col-xs-12 col-lg-6 film-info">
      <h3 class="title">Blue Velvet (1986)</h3>
      <p class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quis inventore adipisci itaque sapiente nostrum iure veniam corporis doloribus dolore, illum vel error magni non fugiat quae impedit commodi eaque?</p>
    </div>
  </div>
</div>
